.maindiv{
    align-items: center;
    display: flex;
    /*background: orange;*/
    font-size: 16px;
    border-radius: 6px;
    margin-bottom: 12px;
    
}
.categorystyle{
    background: #fff;
    padding: 4px;
    color: #081033;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;

}
.nameStyle{
    font-size:24px;
    font-weight:700;
}
img{
    height: 150px;
}
.valueStyle{
    font-size:22px
}
.Highestscore_bg{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(160,213,31,1) 100%);

}
.BestBowlingFigures_bg{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(7,35,57,1) 100%);

}
.OrangeCap_bg{
    background: linear-gradient(0deg, rgba(255,165,0,1) 0%, rgba(186,124,13,1) 100%);
}
.PurpleCap_bg{
    background: linear-gradient(0deg, rgba(160,32,240,1) 0%, rgba(46,10,71,1) 100%);

}
.MostValuablePlayer_bg{
    background: linear-gradient(0deg, rgba(230,189,189,1) 0%, rgba(0,136,0,1) 100%);
}
.Fairplay_bg{
    background: linear-gradient(0deg, rgba(215,215,4,1) 0%, rgba(22,43,22,0.9276304271708683) 100%);

}