.alarm-card{
    max-width: 440px;
    width: 100%;
    padding: 30px;
    background: #223456;
    color: #ffffff;
    border-radius: 20px;
    margin: 24px auto;
}
h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: greenyellow;
}
h2{
    font-size: 40px;
    text-align: center;
    color: lightblue;
    font-weight: 500;
}
button{
    padding: 16px;
    margin: 24px auto;
    color: white;
    background: yellowgreen;
    border-radius: 16px;
    font-size: 25px;
    border-color: yellowgreen;
    font-weight: 600;
}
img{
    margin: 24px auto;
    display: block;
}

img.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform : translate(1px, -2px) rotate(-1deg); }
}